.rents{
    background-image: url("../../../public/images/avengers.jpg");
    background-size: cover;
    min-height: 100vh;
    color: white;
}

.tableRents{
    background-color: red;
}
td{
    padding: 1em;
}
th{
    padding: 1em;
}