@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: sadAvenue;
  src: url("../../public/Fonts/BlackishDemoRegular.ttf");
}
@font-face {
  font-family: vogue;
  src: url("../../public/Fonts/Vogue.ttf");
}
